{{ define "main" }}
<main>
  <section id="resume" class="resume">
    <div class="resume">
      <div class="resume-sidebar">
        {{ partial "resume/sidebar.html" . }}
      </div>
      <div class="resume-content">
        {{ $basics := .Site.Data.resume.basics }}
        {{ with $basics }}
          <div class="resume-title">
            <h1>{{ .name }}</h1>
            <h2>{{ .label }}</h2>
          </div>
          <p>
            {{ with $basics.location }}
              {{ .city }},
              {{ .region }} |
            {{ end }}
          {{ .email }}
          </p>
          <p>
          {{ range .summary }}
            {{ . }}
          {{ end }}
          </p>
        {{ end }}
        <h2>Experience</h2>
        {{ range $entry, $role := .Site.Data.resume.work }}
          {{ with $role }}
            {{ .position }}
            {{ partial "resume/duration.html" (dict "context" . "site" $.Site) }}
            {{ range . }}
              <li>{{ . }}</li>
            {{ end }}
          {{ end }}
        {{ end }}
        </div>
        </div>
    </section>
</main>
{{ end }}